{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    {%tailwind_css%}
  </head>
  <body class="bg-zinc-900 text-white flex flex-col">
    <nav class="bg-black text-green-400 p-4 text-2xl font-bold">
      <a href="">Django - <span class="text-blue-400">Python</span></a>
    </nav>

    <form
      action="{% url 'home' %}"
      method="POST"
      class="p-4 flex flex-col items-center gap-2 border w-40 mt-10 ml-10"
    >
      {% csrf_token %}
      <p class="text-xl mt-4 ml-4">Olá, {{username}}</p>
      <button
        type="submit"
        name="logout"
        class="bg-red-900 px-8 h-8 rounded-lg hover:bg-red-600"
      >
        Sair
      </button>
    </form>
  </body>
</html>
